/* Ref:  http://www.w3schools.com/css/css_syntax.asp */
@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei');


body, html { /* General style rules for the body section */
	height:100%;
	width:100%;
	background-color: black;
	text-align: center;
	font-family:'ZCOOL XiaoWei', serif;
}

#div666 {
	background-color: black;
	color:white;
}

h1 {
	color: white;
	text-decoration: underline;
}

#div1 { /* Matches element with id=SimpleDiv */
	 font-style: oblique;
	 color: white;


	border-style: solid groove;
  border-width: 5px;
	border-color: grey;
	margin: 5%;
	padding: 6px;
	vertical-align: middle;
}

#dystopiadiv {
	font-style: oblique;
	color: white;

}

#left-div { /* Matches element with id=SimpleDiv */
background-color: lightpink;
  opacity: 0.80;
	font-family: fantasy;
	border-style: solid groove;

	color: white;
	margin: 5%;
	padding: 6px;
	float: left;
	width: 35%;
}

#right-div {
	background-color: lightpink;
  	opacity: 0.80;
		font-family: fantasy;
		border-style: solid groove;

		color: white;
		margin: 5%;
		padding: 6px;
		float: right;
		width: 35%;

}

#footer {
	background-color: pink;
color: green;
display: block;
}

#div3 { /* Matches element with id=SimpleDiv */
		background-color: black;
		opacity: 0.75;
		font-style: italic;
		color: white;
		margin: 5%;
		padding: 6px;
		float: right;
		width: 50%;
}


#div4 { /* Matches element with id=SimpleDiv */
	 	background-color: violet;
		opacity: 0.85;
		font-style: italic;
		color: white;
		margin: 5%;
		padding: 6px;
		clear: both;
}

#div5 {
	background-color: black;
	color: white;
  opacity: 0.75;
}

#connection-div {
	background-color: white;
	opacity: 0.80;
	font-style: bold normal;
	margin: 5%;
	float: left;
	width: 20%;
}

#freedom-div {
	background-color: white;
	opacity: 0.80;
	font-style: bold normal;
	margin: 5%;
	float: right;
	width: 20%;
}

#information-div {
	background-color: white;
	opacity: 0.80;
	font-style: bold normal;
	margin: 5%;
	float:right;
	width: 25%;
}
